---
layout: page
title: Категории
permalink: /category/
---
<p>Посмотеть все посты в временном поряке можно <a href="/posts/">здесь</a>.</p>
{% for category in site.categories %}
<h3><a href="/category/{{ category | first | slugize }}/">{% include categories.html first="" %}</a></h3>
    {% for posts in category %}
        {% for post in posts %}
            {% if post.url %}
                     <div class="list">
                         {% include date.html post="" %}{{ post.date | date: "%-d, %Y" }} -- <a href="{{ post.url }}">{{ post.title }}</a>
                    </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
