---
layout: page
title: Архив
permalink: /posts/
---
<p>Все посты по категориям <a href="/category/">здесь</a>.</p>
{% assign posts = site.posts %}
{% for post in posts %}
    {% capture month %}
        {% assign m = post.date | date: "%-m" %}
           {% include date.html post="" %}
           {{ post.date | date: "%Y" }}
    {% endcapture %}
    {% if last_month != month %}
		<h3 class="month">{{ month }}</h3>
        <div class="list"> <span class="c-date">{{ post.date | date: '%-d' }}</span>   <a href="{{ post.id }}/" title="{{ post.title }}">{{ post.title }} </a>
            {% for category in post.categories %}
			// <a href="/category/{{ category | slugize }}/">{% include categories.html %}</a>
            {% endfor %}
        </div>
        {% assign last_month = month %}
        {% else %}
        <div class="list"> <span class="c-date">{{ post.date | date: '%-d' }}</span>   <a href="{{ post.id }}/" title="{{ post.title }}">{{ post.title }}</a>
            {% for category in post.categories %}
               // <a href="/category/{{ category | slugize }}/">{% include categories.html %}</a>
            {% endfor %}</div>
    {% endif %}
{% endfor %}