---
layout: page
title: Архив
permalink: /posts/
---

{% assign posts = site.posts %}
{% for post in posts %}

    {% capture month %}
        {{ post.date | date:'%B %Y' }}
    {% endcapture %}

    {% if last_month != month %}
        <h3>{{ month }}</h3>
        <div class="list">{{ post.date | date: '%-d' }}  <a href="{{ post.id }}/" title="{{ post.title }}">{{ post.title }} </a>
            {% for category in post.categories %}
               <a href="/category/{{ category | slugize }}/">{{ category }}</a>
            {% endfor %}
        </div>

        {% assign last_month = month %}
        {% else %}

        <div class="list">{{ post.date | date: '%-d' }}  <a href="{{ post.id }}/" title="{{ post.title }}">{{ post.title }}</a>
            {% for category in post.categories %}
                <a href="/category/{{ category | slugize }}/">{{ category }}</a>
            {% endfor %}</div>
    {% endif %}
{% endfor %}


