---
layout: default
---
<div class="posts">
	<div class="post-content">
  <div class="posts">
<ul class="posts">
    {% for post in paginator.posts % %}
      <li class="post-content">
		  <header class="post-header">
			  <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
		  </header>
		  <span class="post-date">
            {% assign m = post.date | date: "%-m" %}
            {% case m %}
                {% when '1' %}Янв.
                {% when '2' %}Февр.
                {% when '3' %}Март
                {% when '4' %}Апр.
                {% when '5' %}Май
                {% when '6' %}Июнь
                {% when '7' %}Июль
                {% when '8' %}Авг.
                {% when '9' %}Сент.
                {% when '10' %}Окт.
                {% when '11' %}Нояб.
                {% when '12' %}Дек.
            {% endcase %}
            {{ post.date | date: " %-d, %Y" }}
          {% for category in post.categories %}
          <a href="{{ site.baseurl }}/category/{{ category | slugize }}/"> / {{ category }}</a>
          {% endfor %}</span>
		  {{ post.excerpt }}
          <a class="exerp" href="{{ post.url | prepend: site.baseurl }}">Читать дальше</a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="pagination">
  {% if paginator.total_pages > 1 %}
        {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}/{% if paginator.previous_page != 1 %}page/{{ paginator.previous_page }}{% endif %}">Раньше</a>
        {% endif %}
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <a href="{{ site.baseurl }}/page/{{ paginator.next_page }}">Позже</a>
        {% endif %}
  {% endif %}
</div>
