---
layout: default
---

<div class="home">

  <ul class="posts">
    {% for post in paginator.posts % %}
      <li>
        <span class="post-date">
            {% assign m = post.date | date: "%-m" %}
            {% case m %}
                {% when '1' %}Янв.
                {% when '2' %}Февр.
                {% when '3' %}Март
                {% when '4' %}Апр.
                {% when '5' %}Май
                {% when '6' %}Июнь
                {% when '7' %}Июль
                {% when '8' %}Авг.
                {% when '9' %}Сент.
                {% when '10' %}Окт.
                {% when '11' %}Нояб.
                {% when '12' %}Дек.
            {% endcase %}
            {{ post.date | date: " %-d, %Y" }}
          {% for category in post.categories %}
          <a href="/category/{{ category | slugize }}/">{{ category }}</a>
          {% endfor %}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {{ post.excerpt }}
          <a href="{{ post.url | prepend: site.baseurl }}">Читать дальше</a>
      </li>
    {% endfor %}
  </ul>


  <h3>Список категорий</h3>
    {% for category in site.categories %}
      <li><a href="/category/{{ category | first | slugize }}">{{ category | first }}</a>
      </li>
    {% endfor %}

<div class="pagination">
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
        <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
        <span>Next &raquo;</span>
        {% endif %}
    </div>
  {% endif %}
</div>

 <p class="allpostsmeta"><a href="/archive/" title="Список всех статей" rel="nofollow">Список всех статей</a></p>



</div>
