---
layout: page
title: Категория - США
permalink: /category/usa/
---
<p>Записи, связанные с иммиграцией, жизнью в США.</p>
<!--Название каждой категории и список ниже-->
<p><a class="page-link" href="{{ site.baseurl }}/category">Все категории</a></p>

<h2>США</h2>
{% for post in site.categories.usa %}
        <ul>
            <li>{% include date.html post="" %}{{ post.date | date: "%-d, %Y" }} -- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        </ul>
{% endfor %}
